In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('06_spark') \
    .getOrCreate()

25/02/27 15:52:23 WARN Utils: Your hostname, MichaelAngelo resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/02/27 15:52:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/27 15:52:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/02/27 15:52:24 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
!pwd

/mnt/c/Users/mab03/Desktop/DataEngineeringZoomcamp2025/Mod5_BatchProcessing

In [3]:
import os

In [12]:
df_green = spark.read.parquet("/mnt/c/Users/mab03/Desktop/DataEngineeringZoomcamp2025/TaxiData/green_data/*")

In [13]:
df_green.show(5)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+------------+-----------+-----------+-----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance| fare_amount|      extra|    mta_tax| tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+------------+-----------+-----------+-----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2018-12-21 15:17:29|  2018-12-21 15:18:57|                 N|         1|         264|         264|              5|  0.000000000| 3.000000000|0.500000000|0.500000000|0.000000000| 0.000000000|     NULL|          0.300000000| 4.300000000|           2|        1|                NULL|
|       2| 2019-01-01 00:10:16|  2019-01-01 00:16:32|                 N|         1|          97|          49|              2|  0.860000000| 6.000000000|0.500000000|0.500000000|0.000000000| 0.000000000|     NULL|          0.300000000| 7.300000000|           2|        1|                NULL|
|       2| 2019-01-01 00:27:11|  2019-01-01 00:31:38|                 N|         1|          49|         189|              2|  0.660000000| 4.500000000|0.500000000|0.500000000|0.000000000| 0.000000000|     NULL|          0.300000000| 5.800000000|           1|        1|                NULL|
|       2| 2019-01-01 00:46:20|  2019-01-01 01:04:54|                 N|         1|         189|          17|              2|  2.680000000|13.500000000|0.500000000|0.500000000|2.960000000| 0.000000000|     NULL|          0.300000000|19.710000000|           1|        1|                NULL|
|       2| 2019-01-01 00:19:06|  2019-01-01 00:39:43|                 N|         1|          82|         258|              1|  4.530000000|18.000000000|0.500000000|0.500000000|0.000000000| 0.000000000|     NULL|          0.300000000|19.300000000|           2|        1|                NULL|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+------------+-----------+-----------+-----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows

In [21]:
path = "/mnt/c/Users/mab03/Desktop/DataEngineeringZoomcamp2025/TaxiData/yellow_data/"
parquet_files = [f for f in os.listdir(path) if "_normalized" in f and f.endswith(".parquet")]

df_yellow = spark.read.parquet(*[os.path.join(path, f) for f in parquet_files])

In [23]:
df_yellow.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+------------+-----------+-----------+-----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type| fare_amount|      extra|    mta_tax| tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+------------+-----------+-----------+-----------+------------+---------------------+------------+--------------------+
|       1| 2019-01-01 00:46:40|  2019-01-01 00:53:20|              1|  1.500000000|         1|                 N|         151|         239|           1| 7.000000000|0.500000000|0.500000000|1.650000000| 0.000000000|          0.300000000| 9.950000000|                NULL|
|       1| 2019-01-01 00:59:47|  2019-01-01 01:18:59|              1|  2.600000000|         1|                 N|         239|         246|           1|14.000000000|0.500000000|0.500000000|1.000000000| 0.000000000|          0.300000000|16.300000000|                NULL|
|       2| 2018-12-21 13:48:30|  2018-12-21 13:52:40|              3|  0.000000000|         1|                 N|         236|         236|           1| 4.500000000|0.500000000|0.500000000|0.000000000| 0.000000000|          0.300000000| 5.800000000|                NULL|
|       2| 2018-11-28 15:52:25|  2018-11-28 15:55:45|              5|  0.000000000|         1|                 N|         193|         193|           2| 3.500000000|0.500000000|0.500000000|0.000000000| 0.000000000|          0.300000000| 7.550000000|                NULL|
|       2| 2018-11-28 15:56:57|  2018-11-28 15:58:33|              5|  0.000000000|         2|                 N|         193|         193|           2|52.000000000|0.000000000|0.500000000|0.000000000| 0.000000000|          0.300000000|55.550000000|                NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+------------+-----------+-----------+-----------+------------+---------------------+------------+--------------------+
only showing top 5 rows

In [24]:
df_yellow.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: decimal(38,9) (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: decimal(38,9) (nullable = true)
 |-- extra: decimal(38,9) (nullable = true)
 |-- mta_tax: decimal(38,9) (nullable = true)
 |-- tip_amount: decimal(38,9) (nullable = true)
 |-- tolls_amount: decimal(38,9) (nullable = true)
 |-- improvement_surcharge: decimal(38,9) (nullable = true)
 |-- total_amount: decimal(38,9) (nullable = true)
 |-- congestion_surcharge: decimal(38,9) (nullable = true)

In [25]:
df_yellow.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [14]:
df_green.columns

['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [26]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [27]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [17]:
from pyspark.sql import functions as F

In [28]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

# Union the two datasets in one trip_data df
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [29]:
df_trips_data.groupBy('service_type').count().show()

+------------+---------+
|service_type|    count|
+------------+---------+
|       green|  7778101|
|      yellow|109047518|
+------------+---------+

In [30]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [32]:
# Register the trips data as temporary table
df_trips_data.createOrReplaceTempView('trips_data')

In [33]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+---------+
|service_type| count(1)|
+------------+---------+
|       green|  7778101|
|      yellow|109047518|
+------------+---------+

In [34]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [35]:
df_result.show(5)

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         122|2019-01-01 00:00:00|       green|     14329.850000000|         66.500000000|          263.500000000|              25.930000000|               519.560000000|                        111.300000000|             15327.440000000|                         0.000000000|         1.263063063063063|         7.8121081081081|
|         181|2019-01-01 00:00:00|       green|    172254.510000000|       5034.500000000|         6854.500000000|           16602.690000000|              1022.120000000|                       3977.700000000|            206970.520000000|                         0.000000000|        1.4266896998488448|         2.8019434247463|
|         215|2019-01-01 00:00:00|       green|     27231.130000000|        135.500000000|          516.500000000|              78.040000000|               899.010000000|                        207.300000000|             29086.980000000|                         0.000000000|        1.2281938325991189|         7.1153480176211|
|          61|2019-01-01 00:00:00|       green|    113677.820000000|       1586.000000000|         3424.000000000|            2292.090000000|              1296.930000000|                       1797.300000000|            124452.740000000|                         0.000000000|        1.2706702718087377|         3.9190351501352|
|         130|2019-01-01 00:00:00|       green|    149942.620000000|       3808.500000000|         4799.500000000|           11297.790000000|              1650.140000000|                       2725.800000000|            174238.000000000|                         0.000000000|        1.1278764634638676|         4.0422396043601|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 5 rows

In [ ]:
# Saved the results if needed
# df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')